h3 {
	color: cornflowerblue;
}

.indent {
	border-left: 4px solid gray;
}

.first {
	border-bottom: 2px solid gray;
}

.whole {
	border: box;
	border: solid 5px gray;
	border-width: 300px;
	border-height:80%;
}